
<div class="col-md-12">
    <h1>ブログ記事投稿</h1>
    
    <%= form_for @post do |f| %>
        <%= f.label "タイトル"%>
        <%= f.text_field :title%>
        <%= f.label "カテゴリー"%>
        <%= f.text_field :category%>
        <%= f.label "本文"%>
        <%= f.text_area :body %>
        <%= f.submit "新規投稿" %>
    <% end %>

</div>
