<div class= "col-md-12">
    
    <h1><%= @post.title %></h1>
    <p>カテゴリ：<%= @post.category %></p>
    <p>本文：<%= @post.created_at %></p>
<hr>
<p>
    <%= @post.body %>
</p>

<hr>

<%= link_to "編集", edit_post_path %>
<%= link_to "戻る", root_path %>

</div>
